## The project aims at helping the lending club decide wether a person is qualified for sanctioning a loan or not in the future

# 1.  Dataset processing

In [ ]:
#import libraries I need, and I will add more with the project going........

import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [5]:
'''Define a variable that points to the folder where data is stored'''
#my_path = '/Users/maqiang/Desktop/studymaterial/DataScience/DataScienceProject/lending-club-loan-data'

'Define a variable that points to the folder where data is stored'

In [8]:
# reading the dataset
#df_loan = pd.read_csv(f'{my_path}/loan.csv',low_memory = False)
df_loan = pd.read_csv("/Users/maqiang/Desktop/studymaterial/DataScience/DataScienceProject/lend/loan.csv", low_memory=False)
#print(df_loan.shape)
df_loan.head(13)
#df_loan.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,2500,2500,2500.0,36 months,13.56,84.92,C,C1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,30000,30000,30000.0,60 months,18.94,777.23,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,4000,4000,4000.0,36 months,18.94,146.51,D,D2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,30000,30000,30000.0,60 months,16.14,731.78,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,5550,5550,5550.0,36 months,15.02,192.45,C,C3,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,2000,2000,2000.0,36 months,17.97,72.28,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,6000,6000,6000.0,36 months,13.56,203.79,C,C1,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,5000,5000,5000.0,36 months,17.97,180.69,D,D1,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,6000,6000,6000.0,36 months,14.47,206.44,C,C2,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,5500,5500,5500.0,36 months,22.35,211.05,D,D5,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,28000,28000,28000.0,60 months,11.31,613.13,B,B3,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,11200,11200,11200.0,36 months,8.19,351.95,A,A4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#delete the colums that all are the NULLS
df_loan.dropna(axis=1,how='all')

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,2500,2500,2500.0,36 months,13.56,84.92,C,C1,Chef,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
1,30000,30000,30000.0,60 months,18.94,777.23,D,D2,Postmaster,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Administrative,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
3,4000,4000,4000.0,36 months,18.94,146.51,D,D2,IT Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
4,30000,30000,30000.0,60 months,16.14,731.78,C,C4,Mechanic,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
5,5550,5550,5550.0,36 months,15.02,192.45,C,C3,Director COE,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,2000,2000.0,36 months,17.97,72.28,D,D1,Account Manager,4 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
7,6000,6000,6000.0,36 months,13.56,203.79,C,C1,Assistant Director,10+ years,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
8,5000,5000,5000.0,36 months,17.97,180.69,D,D1,Legal Assistant III,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
9,6000,6000,6000.0,36 months,14.47,206.44,C,C2,NaN,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
10,5500,5500,5500.0,36 months,22.35,211.05,D,D5,NaN,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
11,28000,28000,28000.0,60 months,11.31,613.13,B,B3,Consultant,2 years,...,NaN,NaN,DirectPay,N,NaN,NaN,NaN,NaN,NaN,NaN
12,11200,11200,11200.0,36 months,8.19,351.95,A,A4,Job Coach Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
13,6500,6500,6500.0,36 months,17.97,234.90,D,D1,Quality Field Engineer,4 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
14,22000,22000,22000.0,60 months,12.98,500.35,B,B5,Teller,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
15,3500,3500,3500.0,36 months,16.14,123.30,C,C4,respritory therapist,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
16,7000,7000,7000.0,36 months,12.98,235.80,B,B5,Worship Director,4 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
17,25000,25000,25000.0,60 months,16.91,620.11,C,C5,Processor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
18,16000,16000,16000.0,60 months,20.89,431.87,D,D4,Neonatal Nurse Practitioner,4 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
19,13000,13000,13000.0,60 months,14.47,305.67,C,C2,Stationary Engineer,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
20,10000,10000,10000.0,36 months,13.56,339.65,C,C1,NaN,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
21,13000,13000,13000.0,36 months,14.47,447.29,C,C2,Exhibits director,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
22,9600,9600,9600.0,36 months,23.40,373.62,E,E1,driver coordinator,9 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
23,3500,3500,3500.0,36 months,20.89,131.67,D,D4,gas attendant,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
24,16000,16000,16000.0,60 months,26.31,481.99,E,E4,Financial Relationship Associate,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
25,15000,15000,14975.0,60 months,14.47,352.69,C,C2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
26,13000,13000,13000.0,36 months,23.40,505.95,E,E1,Sale Representative,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
27,23000,23000,23000.0,60 months,20.89,620.81,D,D4,Operator,5 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
28,8000,8000,8000.0,36 months,23.40,311.35,E,E1,Manager,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
29,32075,32075,32075.0,60 months,11.80,710.26,B,B4,Nursing Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2260638,30000,30000,30000.0,36 months,21.45,1137.20,D,D5,Cath lab tech,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260639,21000,21000,21000.0,36 months,17.09,749.65,D,D1,Supervisor,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260640,20700,20700,20700.0,60 months,12.62,466.98,C,C1,Dental Assistant,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260641,15000,15000,15000.0,60 months,30.75,492.24,F,F5,Corporate Recruiter,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260642,32400,32400,32375.0,36 months,20.00,1204.11,D,D4,SHIPPING MANGER,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260643,10000,10000,10000.0,36 months,9.44,320.05,B,B1,Acft mechanic,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260644,35000,35000,34725.0,60 months,30.75,1148.55,F,F5,Desktop Support Technician,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260645,20000,20000,20000.0,36 months,13.59,679.58,C,C2,graphic designer,7 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260646,16000,16000,16000.0,60 months,18.06,406.82,D,D2,Head Chef,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260647,10500,10500,10500.0,36 months,13.59,356.78,C,C2,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260648,32000,32000,32000.0,60 months,28.72,1010.30,F,F1,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260649,35000,35000,35000.0,36 months,7.97,1096.29,A,A5,Administrative Assistant,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260650,10000,10000,10000.0,60 months,28.72,315.72,F,F1,Content Review,1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260651,35000,35000,35000.0,60 months,17.09,871.54,D,D1,Office Manager,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260652,25000,25000,25000.0,60 months,30.65,818.85,F,F4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260653,15000,15000,15000.0,36 months,10.91,490.45,B,B4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260654,30000,30000,30000.0,60 months,17.09,747.03,D,D1,Senior Manager,2 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260655,18000,18000,18000.0,60 months,30.65,589.57,F,F4,Package Delivery Driver,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260656,17950,17950,17950.0,60 months,30.17,582.62,F,F3,Head Custodian,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260657,19000,19000,19000.0,60 months,14.08,442.89,C,C3,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260658,15000,15000,15000.0,60 months,16.02,364.94,C,C5,Instructional Designer,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260659,3500,3500,3500.0,36 months,10.91,114.44,B,B4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260660,10000,10000,10000.0,36 months,12.62,335.12,C,C1,Administrator,5 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260661,21000,21000,21000.0,60 months,30.94,691.60,G,G4,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260662,30000,30000,30000.0,60 months,30.75,984.47,F,F5,Sales,6 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260663,12000,12000,12000.0,60 months,14.08,279.72,C,C3,house keeper,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260664,12000,12000,12000.0,60 months,25.82,358.01,E,E4,Skilled Labor,< 1 year,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260665,10000,10000,10000.0,36 months,11.99,332.10,B,B5,Teacher,10+ years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260666,12000,12000,12000.0,60 months,21.45,327.69,D,D5,NaN,NaN,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN
2260667,16550,16550,16550.0,60 months,21.45,451.94,D,D5,BABYSITTER,3 years,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
#Finding the the count and percentage of values that are missing in the dataframe.
df_null = pd.DataFrame({'Count': df_loan.isnull().sum(), 'Percent': 100*df_loan.isnull().sum()/len(df_loan)})

#printing columns with null count more than 0
df_null[df_null['Count'] > 0] 

# the size of our datasets is large， it is not good by using graph 
#null_vals = df_loan.isnull().sum()/len(df_loan)*100
#null_vals = pd.DataFrame(null_vals)
#null_vals.reset_index(inplace = True)
#null_vals.columns = ["Feature","Percent missing"]
#plt.figure(figsize = (20,10))
#plt.xticks(rotation=45)
#sns.barplot(x = "Feature",y ="Percent missing",data = null_vals)*/

                                              Count     Percent
id                                          2260668  100.000000
member_id                                   2260668  100.000000
emp_title                                    166969    7.385826
emp_length                                   146907    6.498389
annual_inc                                        4    0.000177
url                                         2260668  100.000000
desc                                        2134601   94.423462
title                                         23325    1.031775
zip_code                                          1    0.000044
dti                                            1711    0.075686
delinq_2yrs                                      29    0.001283
earliest_cr_line                                 29    0.001283
inq_last_6mths                                   30    0.001327
mths_since_last_delinq                      1158502   51.246003
mths_since_last_record                      1901512   84.112837
open_acc                                         29    0.001283
pub_rec                                          29    0.001283
revol_util                                     1802    0.079711
total_acc                                        29    0.001283
last_pymnt_d                                   2426    0.107313
next_pymnt_d                                1303607   57.664681
last_credit_pull_d                               73    0.003229
collections_12_mths_ex_med                      145    0.006414
mths_since_last_major_derog                 1679893   74.309585
annual_inc_joint                            2139958   94.660428
dti_joint                                   2139962   94.660605
verification_status_joint                   2144938   94.880717
acc_now_delinq                                   29    0.001283
tot_coll_amt                                  70276    3.108639
tot_cur_bal                                   70276    3.108639
...                                             ...         ...
sec_app_earliest_cr_line                    2152647   95.221722
sec_app_inq_last_6mths                      2152647   95.221722
sec_app_mort_acc                            2152647   95.221722
sec_app_open_acc                            2152647   95.221722
sec_app_revol_util                          2154484   95.302981
sec_app_open_act_il                         2152647   95.221722
sec_app_num_rev_accts                       2152647   95.221722
sec_app_chargeoff_within_12_mths            2152647   95.221722
sec_app_collections_12_mths_ex_med          2152647   95.221722
sec_app_mths_since_last_major_derog         2224726   98.410116
hardship_type                               2250055   99.530537
hardship_reason                             2250055   99.530537
hardship_status                             2250055   99.530537
deferral_term                               2250055   99.530537
hardship_amount                             2250055   99.530537
hardship_start_date                         2250055   99.530537
hardship_end_date                           2250055   99.530537
payment_plan_start_date                     2250055   99.530537
hardship_length                             2250055   99.530537
hardship_dpd                                2250055   99.530537
hardship_loan_status                        2250055   99.530537
orig_projected_additional_accrued_interest  2252242   99.627278
hardship_payoff_balance_amount              2250055   99.530537
hardship_last_payment_amount                2250055   99.530537
debt_settlement_flag_date                   2227612   98.537777
settlement_status                           2227612   98.537777
settlement_date                             2227612   98.537777
settlement_amount                           2227612   98.537777
settlement_percentage                       2227612   98.537777
settlement_term                             2227612   98.537777

[113 rows x 2 columns]

In [24]:
# drop the columns where 80% or more data is missing, these columns are not necessary.
df_loan1 = df_loan.dropna(axis=1, thresh=int(0.80*len(df_loan)))
df_loan1.head()
print(df_loan1.shape)
df_loan1.info()

(2260668, 87)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 87 columns):
loan_amnt                     int64
funded_amnt                   int64
funded_amnt_inv               float64
term                          object
int_rate                      float64
installment                   float64
grade                         object
sub_grade                     object
emp_title                     object
emp_length                    object
home_ownership                object
annual_inc                    float64
verification_status           object
issue_d                       object
loan_status                   object
pymnt_plan                    object
purpose                       object
title                         object
zip_code                      object
addr_state                    object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line              object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     int64
revol_util                    float64
total_acc                     float64
initial_list_status           object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                  object
last_pymnt_amnt               float64
last_credit_pull_d            object
collections_12_mths_ex_med    float64
policy_code                   int64
application_type              object
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
total_rev_hi_lim              float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                 object
disbursement_method           object
debt_settlement_flag          object
dtypes: float64(61), int64(4), object(22)
memory usage: 1.5+ GB

In [35]:
''' several of the columns or features are "object" type
These need to be changed to category before we can convert those to 
mappings and numbers. So define a function to convert 
object types and string types to category type'''

#the module comes from teachers' knn_Model
def str_to_cat(my_df):
    for p,q in my_df.items(): #my_df.items() is a generator in Python
        if pd.api.types.is_string_dtype(q): 
            my_df[p] = q.astype('category').cat.as_ordered()
    return my_df

In [37]:
# Apply the str_to_cat function
df_loan2 = str_to_cat(df_loan1)
df_loan2.info()

/Users/maqiang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260668 entries, 0 to 2260667
Data columns (total 87 columns):
loan_amnt                     int64
funded_amnt                   int64
funded_amnt_inv               float64
term                          category
int_rate                      float64
installment                   float64
grade                         category
sub_grade                     category
emp_title                     category
emp_length                    category
home_ownership                category
annual_inc                    float64
verification_status           category
issue_d                       category
loan_status                   category
pymnt_plan                    category
purpose                       category
title                         category
zip_code                      category
addr_state                    category
dti                           float64
delinq_2yrs                   float64
earliest_cr_line              category
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     int64
revol_util                    float64
total_acc                     float64
initial_list_status           category
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                  category
last_pymnt_amnt               float64
last_credit_pull_d            category
collections_12_mths_ex_med    float64
policy_code                   int64
application_type              category
acc_now_delinq                float64
tot_coll_amt                  float64
tot_cur_bal                   float64
total_rev_hi_lim              float64
acc_open_past_24mths          float64
avg_cur_bal                   float64
bc_open_to_buy                float64
bc_util                       float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
mo_sin_old_il_acct            float64
mo_sin_old_rev_tl_op          float64
mo_sin_rcnt_rev_tl_op         float64
mo_sin_rcnt_tl                float64
mort_acc                      float64
mths_since_recent_bc          float64
mths_since_recent_inq         float64
num_accts_ever_120_pd         float64
num_actv_bc_tl                float64
num_actv_rev_tl               float64
num_bc_sats                   float64
num_bc_tl                     float64
num_il_tl                     float64
num_op_rev_tl                 float64
num_rev_accts                 float64
num_rev_tl_bal_gt_0           float64
num_sats                      float64
num_tl_120dpd_2m              float64
num_tl_30dpd                  float64
num_tl_90g_dpd_24m            float64
num_tl_op_past_12m            float64
pct_tl_nvr_dlq                float64
percent_bc_gt_75              float64
pub_rec_bankruptcies          float64
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
hardship_flag                 category
disbursement_method           category
debt_settlement_flag          category
dtypes: category(22), float64(61), int64(4)
memory usage: 1.2 GB